

    h1
    {
        background-color:red;
    }
    #emo, h2
    {
        background-color:white;
    }
    .title1 {
        background-color: yellow;
    }

     *
     {
     color:purple;
     }




